name: publish
on:
  workflow_dispatch:
  pull_request:
  push:
    tags:
      - "*"

jobs:
  build:
    runs-on: ubuntu-20.04
    container:
      image: flaport/meow
      volumes:
        - ${{ github.workspace }}:/github/workspace
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build Library
        run: make build
      - name: Expose wheel as artifact
        uses: actions/upload-artifact@master
        with:
          name: dist
          path: dist

  release:
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Download build artifact
        uses: actions/download-artifact@master
        with:
          name: dist
          path: dist
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            dist/meow-sim-0.0.3.tar.gz
            dist/meow_sim-0.0.3-py3-none-any.whl
      - name: Publish to PyPI
        run: |
          pip install --user twine \
          && twine upload \
            dist/meow-sim-0.0.3.tar.gz \
            dist/meow_sim-0.0.3-py3-none-any.whl \
          --username __token__ \
          --password ${{ secrets.PYPI_TOKEN }}

